* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.big-container {
  max-width: 1920px;
  margin: auto;
}

.container {
  max-width: 1110px;
  margin: auto;
}

@media (max-width: 1024px) {
  .container {
    max-width: 760px;
    margin-left: 179px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 760px;
    margin-left: 179px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 690px;
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 510px;
  }
}

@media (max-width: 426px) {
  .container {
    max-width: 395px;
  }
}

header {
  height: 1045px;
  background: url(../../images/initial__screen.png);
}

@media (max-width: 768px) {
  header {
    height: 800px;
    background: url(../../images/hero-background.png);
  }
}

@media (max-width: 576px) {
  header {
    height: 600px;
    background: url(../../images/hero-background-small.png);
  }
}

.navbar__burger {
  display: none;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 51px;
}

.navbar-wrap .navbar__item {
  margin-right: 63px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar-wrap .navbar__item:hover {
  color: #D1A954;
}

@media (max-width: 992px) {
  .navbar-wrap .navbar__item {
    margin-right: 0px;
  }
}

.navbar-wrap .navbar__contact {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar-wrap .navbar__contact:hover {
  color: #D1A954;
}

.navbar-wrap .navbar__phone a {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 0.05em;
  margin-right: 0;
}

.navbar-wrap .navbar__phone hr {
  width: 119px;
  height: 0px;
  border: 2px solid #D1A954;
}

@media (max-width: 992px) {
  .navbar-wrap .navbar__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
  }
}

.navbar-wrap .navbar .navbar__cross {
  display: none;
}

.navbar-wrap .navbar__social {
  display: none;
}

@media (max-width: 992px) {
  .navbar-wrap .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 992px) {
  .navbar-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/*@keyframes navbar
   0%
      margin-right: 0px
   100%
      margin-right: 63px*/
@media (max-width: 1024px) {
  .navbar-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar-wrap .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar-wrap .navbar__item {
    margin-right: 0px;
  }
  .navbar-wrap .navbar__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  .navbar-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar-wrap .navbar__phone {
    margin-top: 0;
  }
  .navbar-wrap .navbar {
    position: absolute;
    z-index: 2;
    top: 0;
    left: -100%;
    height: 800px;
    width: 300px;
    background: #333333;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .navbar-wrap .navbar a {
    padding-left: 39px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-top: 35px;
  }
  .navbar-wrap .navbar__first-item {
    padding-top: 105px;
    margin-top: 0;
  }
  .navbar-wrap .navbar .navbar__cross {
    display: block;
    cursor: pointer;
  }
  .navbar-wrap .navbar .navbar__cross span {
    width: 32px;
    height: 32px;
    opacity: 0.7;
    cursor: pointer;
  }
  .navbar-wrap .navbar .navbar__cross span:hover {
    opacity: 1;
  }
  .navbar-wrap .navbar .navbar__cross span::before, .navbar-wrap .navbar .navbar__cross span::after {
    float: right;
    position: absolute;
    content: '';
    height: 33px;
    width: 2px;
    background-color: #FFFFFF;
    margin-top: 35px;
    margin-left: 246px;
  }
  .navbar-wrap .navbar .navbar__cross span::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .navbar-wrap .navbar .navbar__cross span::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .navbar-wrap .navbar.active {
    left: 0;
  }
  .navbar-wrap .navbar__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 140px;
    height: 126px;
    margin-top: 89px;
    margin-left: 80px;
  }
  .navbar-wrap .navbar__social a {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin: 0;
    padding: 0;
  }
  .navbar-wrap .navbar__social .social-item img {
    float: right;
  }
  .navbar-wrap .navbar__social .last-social-item {
    margin-top: 65px;
  }
  .navbar-wrap .navbar__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 9px;
    cursor: pointer;
  }
  .navbar-wrap .navbar__burger .burger-line {
    border: 1.5px solid #FFFFFF;
    margin: 0;
    margin-bottom: 5px;
  }
  .navbar-wrap .navbar__burger .burger-first-line {
    width: 27px;
  }
  .navbar-wrap .navbar__burger .burger-second-line {
    width: 21px;
  }
  .navbar-wrap .navbar__burger .burger-third-line {
    width: 14px;
    margin-bottom: 0;
  }
}

/*@media ( max-width:576px )
   .navbar-wrap
      .navbar
         width: 250px
         height: 600px*/
@media (max-width: 426px) {
  .navbar-wrap {
    padding-top: 25px;
  }
}

.contact-info {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 1045px;
  background: rgba(51, 51, 51, 0.75);
  float: left;
  padding-bottom: 126px;
}

.contact-info__text {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 250px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #C4C4C4;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 185px;
}

.contact-info__logo {
  margin-bottom: 30px;
}

.contact-info hr {
  width: 80px;
  height: 0px;
  border: 1px solid #C4C4C4;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-bottom: 80px;
}

@media (max-width: 768px) {
  .contact-info {
    display: none;
  }
}

@media (max-width: 992px) {
  .hero__picture {
    display: none;
  }
}

.hero__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 191px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__theatre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 117px;
}

@media (max-width: 992px) {
  .hero__theatre {
    margin-top: 76px;
  }
}

.hero__theatre h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 64px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
}

.hero__theatre span {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  margin-top: 50px;
}

.hero__theatre button {
  margin-top: 49px;
  width: 160px;
  height: 50px;
  background: #D1A954;
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.hero__theatre button:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 1024px) {
  .hero__picture {
    display: none;
  }
}

@media (max-width: 768px) {
  .hero__theatre {
    margin: 0 auto;
  }
  .hero__wrap {
    margin-top: 161px;
  }
}

@media (max-width: 576px) {
  .hero__wrap {
    margin-top: 114px;
  }
  .hero__theatre h1 {
    font-size: 63px;
  }
  .hero__theatre br {
    display: none;
  }
}

.section__field {
  height: 3440px;
  background-color: #333333;
}

@media (max-width: 1024px) {
  .section__field {
    height: 4080px;
  }
}

@media (max-width: 768px) {
  .section__field {
    height: 4010px;
  }
}

@media (max-width: 576px) {
  .section__field {
    height: 3930px;
  }
}

.blocks-header {
  display: block;
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 150px;
}

.blocks-header span {
  color: #D1A954;
}

@media (max-width: 1024px) {
  .blocks-header {
    padding-top: 90px;
  }
}

@media (max-width: 576px) {
  .blocks-header {
    padding-top: 80px;
  }
}

.about-theatre__wrap {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-theatre__best-theatre h1 {
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.about-theatre__best-theatre p {
  margin: 0;
  margin-top: 40px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
}

.about-theatre__digits h1 {
  margin: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.about-theatre__digits .about-theatre-digits__chair {
  margin-top: 26px;
}

.about-theatre__digits p {
  margin: 0;
  margin-top: 15px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.about-theatre__digits p span {
  color: #D1A954;
}

.about-theatre__digits .about-theatre-digits__history {
  margin-top: 20px;
}

@media (max-width: 1024px) {
  .about-theatre__wrap .about-theatre__image {
    display: none;
  }
}

@media (max-width: 576px) {
  .about-theatre__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 60px;
  }
  .about-theatre__wrap .about-theatre__digits {
    margin: 0 auto;
    text-align: center;
  }
  .about-theatre__wrap .about-theatre__digits h1 {
    margin-top: 27px;
  }
  .about-theatre__wrap .about-theatre__best-theatre h1 {
    text-align: center;
  }
  .about-theatre__wrap .about-theatre__best-theatre p {
    text-align: center;
  }
  .about-theatre__wrap .about-theatre__best-theatre p br {
    display: none;
  }
}

.perfomances__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 100px;
}

.perfomances__wrap .perfomances__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 442px;
  height: 550px;
}

.perfomances__wrap .perfomances__card h3 {
  margin: 0;
  padding: 40px 0 0 40px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.perfomances__wrap .perfomances__card .span__wrap {
  height: 140px;
  width: 30px;
}

.perfomances__wrap .perfomances__card .span__wrap span {
  display: block;
  width: 140px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.perfomances__wrap .perfomances__item2 {
  width: 442px;
  height: 550px;
  background: url(../images/searchBGC.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.perfomances__wrap .perfomances__item2 button {
  width: 100px;
  height: 100px;
  background: #D1A954;
  outline: none;
  border: none;
  border-radius: 50px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.perfomances__wrap .perfomances__item2 button:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.perfomances__wrap .perfomances__item1 {
  background: url(../images/oscar.png);
}

.perfomances__wrap .perfomances__item3 {
  background: url(../images/goldGram.png);
}

.perfomances__wrap .perfomances__item4 {
  background: url(../images/Shelkunchik.png);
}

.rewards-wrappper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rewards {
  width: 1063px;
  height: 550px;
  background: url(../images/rewardsBG.png);
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rewards__wrap {
  height: 250px;
  width: 760px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rewards__wrap .rewards__years {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rewards__wrap .rewards__years span {
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 50px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #D1A954;
  margin-bottom: 44px;
}

.rewards__wrap .rewards__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 153px;
}

.rewards__wrap .rewards__title span {
  margin-top: 25px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  color: #FFFFFF;
}

@media (max-width: 1024px) {
  .perfomances__wrap {
    max-width: 760px;
    margin-left: 179px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .perfomances__wrap .perfomances__item1 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .perfomances__wrap .perfomances__item2 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .perfomances__wrap .perfomances__item3 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .perfomances__wrap .perfomances__item4 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 1024px) {
  .rewards {
    max-width: 1024px;
  }
  .rewards__wrap .rewards__years {
    margin-left: 80px;
  }
  .rewards__wrap .rewards__title span {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .perfomances__wrap {
    margin: 0 auto;
    margin-top: 100px;
  }
}

@media (max-width: 768px) {
  .perfomances__wrap {
    margin-top: 60px;
  }
  .perfomances__wrap .perfomances__card {
    height: 350px;
  }
  .perfomances__wrap .perfomances__item2 {
    height: 350px;
  }
}

@media (max-width: 768px) {
  .rewards {
    margin-top: 90px;
  }
  .rewards__wrap .rewards__title {
    margin-left: 90px;
  }
}

@media (max-width: 576px) {
  .rewards {
    margin-top: 80px;
    max-width: 576px;
  }
  .rewards__wrap .rewards__years {
    margin-left: 40px;
  }
  .rewards__wrap .rewards__title {
    margin-left: 25px;
  }
  .rewards__wrap .rewards__title span {
    font-size: 25px;
  }
}

.partners__wrap {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners__wrap .partners__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.partners__wrap .partners__row .row-item .gazprom {
  margin-left: 78px;
}

.partners__wrap .row2 {
  margin-top: 80px;
}

@media (max-width: 1024px) {
  .partners__wrap {
    margin-top: 60px;
  }
  .partners__wrap .partners__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .partners__wrap .partners__row .row-item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-bottom: 40px;
  }
  .partners__wrap .partners__row .row-item .gazprom {
    margin-left: 90px;
  }
  .partners__wrap .partners__row .row-item .first-elem, .partners__wrap .partners__row .row-item .third-elem {
    margin-left: 50px;
  }
  .partners__wrap .partners__row .last-elem {
    margin-bottom: 0;
  }
  .partners__wrap .row2 {
    margin-top: 0;
  }
}

@media (max-width: 576px) {
  .partners__wrap {
    margin-top: 60px;
  }
  .partners__wrap .partners__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .partners__wrap .partners__row .row-item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-bottom: 40px;
  }
  .partners__wrap .partners__row .row-item .gazprom {
    margin-left: 25px;
  }
  .partners__wrap .partners__row .row-item .first-elem, .partners__wrap .partners__row .row-item .third-elem {
    margin-left: 25px;
  }
}

.maecenas .blocks-header {
  padding-top: 40px;
}

.maecenas__wrap {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.maecenas__wrap .maecenas__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.maecenas__wrap .maecenas__contact a {
  margin-bottom: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  width: 135px;
}

.maecenas__wrap .maecenas__contact a:last-child {
  width: 250px;
}

.maecenas__wrap .maecenas__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 750px;
}

.maecenas__wrap .maecenas__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.maecenas__wrap .maecenas__form form .form__col {
  width: 180px;
}

.maecenas__wrap .maecenas__form form .form__col p {
  margin: 0;
}

.maecenas__wrap .maecenas__form form .form__col .enter-text {
  color: blue;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
}

.maecenas__wrap .maecenas__form form .form__col:first-child {
  margin-right: 30px;
}

.maecenas__wrap .maecenas__form form .form__col:last-child {
  width: 310px;
  margin-left: 50px;
}

.maecenas__wrap .maecenas__form form .form__col input {
  width: 180px;
  height: 35px;
  margin-bottom: 30px;
  background-color: #444;
  border: 1px solid #616161;
}

.maecenas__wrap .maecenas__form form .form__col input::-webkit-input-placeholder {
  color: #989898;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
}

.maecenas__wrap .maecenas__form form .form__col input:-ms-input-placeholder {
  color: #989898;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
}

.maecenas__wrap .maecenas__form form .form__col input::-ms-input-placeholder {
  color: #989898;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
}

.maecenas__wrap .maecenas__form form .form__col input::placeholder {
  color: #989898;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
}

.maecenas__wrap .maecenas__form form .form__col input:focus {
  outline: none;
}

.maecenas__wrap .maecenas__form form .form__col textarea {
  width: 310px;
  height: 100px;
  background-color: #444;
  border: 1px solid #616161;
  resize: none;
}

.maecenas__wrap .maecenas__form form .form__col textarea:focus {
  outline: none;
}

.maecenas__wrap .maecenas__form form .form__col textarea::-webkit-input-placeholder {
  color: #989898;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
}

.maecenas__wrap .maecenas__form form .form__col textarea:-ms-input-placeholder {
  color: #989898;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
}

.maecenas__wrap .maecenas__form form .form__col textarea::-ms-input-placeholder {
  color: #989898;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
}

.maecenas__wrap .maecenas__form form .form__col textarea::placeholder {
  color: #989898;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
}

.maecenas__wrap .maecenas__form form .form__col input[type='text'] {
  padding-left: 15px;
}

.maecenas__wrap .maecenas__form form .form__col textarea[type='text'] {
  padding-left: 15px;
  padding-top: 7px;
}

.maecenas__wrap .maecenas__form .maecenas__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.maecenas__wrap .maecenas__form .maecenas__button button {
  width: 160px;
  height: 50px;
  background: #D1A954;
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 190px;
}

.maecenas__wrap .maecenas__form .maecenas__button button:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.maecenas__wrap .maecenas__form .maecenas__button span {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  color: #989898;
}

@media (max-width: 1024px) {
  .maecenas__wrap {
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .maecenas__wrap .maecenas__contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 80px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .maecenas__wrap .maecenas__contact a {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .maecenas__wrap .maecenas__contact .right-link {
    text-align: right;
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .maecenas__wrap {
    margin-top: 60px;
  }
  .maecenas__wrap .maecenas__form {
    width: auto;
  }
  .maecenas__wrap .maecenas__form form .form__col:last-child {
    margin-left: 30px;
  }
  .maecenas__wrap .maecenas__form form .form__col:last-child textarea {
    width: 270px;
  }
}

@media (max-width: 576px) {
  .maecenas__wrap .maecenas__form form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .maecenas__wrap .maecenas__form form .form__col {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-right: 0;
  }
  .maecenas__wrap .maecenas__form form .form__col input {
    width: 230px;
  }
  .maecenas__wrap .maecenas__form form .form__col:first-child {
    margin-right: 0;
  }
  .maecenas__wrap .maecenas__form form .form__col:last-child {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-left: 0;
  }
  .maecenas__wrap .maecenas__form form .form__col:last-child p textarea {
    width: 510px;
    margin: 0 auto;
  }
  .maecenas__wrap .maecenas__form form .second-form__col p {
    display: block;
    float: right;
  }
  .maecenas__wrap .maecenas__form .maecenas__button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
    margin-top: 40px;
  }
  .maecenas__wrap .maecenas__form .maecenas__button button {
    margin: 0 auto;
  }
  .maecenas__wrap .maecenas__form .maecenas__button span {
    margin-top: 30px;
  }
  .maecenas__wrap .maecenas__contact {
    margin-top: 50px;
  }
  .maecenas__wrap .maecenas__contact .right-link {
    padding-right: 0;
  }
}

footer .footer__line {
  margin: 0;
  margin-top: 80px;
  border: none;
  border-top: 1px solid #565656;
}

footer span {
  display: block;
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  color: #989898;
}

@media (max-width: 576px) {
  footer .footer__line {
    margin-top: 60px;
  }
}
/*# sourceMappingURL=style.css.map */