*
   box-sizing: border-box

.big-container
   max-width: 1920px
   margin: auto

.container
   max-width: 1110px
   margin: auto

@media ( max-width:1024px )
   .container
      max-width: 760px
      margin-left: 179px

@media ( max-width:992px )
   .container
      max-width: 760px
      margin-left: 179px

@media ( max-width:768px )
   .container
      max-width: 690px
      margin: 0 auto

@media ( max-width:576px )
   .container
      max-width: 510px

@media ( max-width:426px )
   .container
      max-width: 395px

@media ( max-width:376px )
   .container
      max-width: 366px

@media ( max-width:321px )
   .container
      max-width: 315px