.section__field
   height: 3440px
   background-color: #333333

@media ( max-width:1024px )
   .section__field
      height: 4110px

@media ( max-width:768px )
   .section__field
      height: 3570px

@media ( max-width:576px )
   .section__field
      height: 3930px

@media ( max-width:426px )
   .section__field
      height: 3360px

@media ( max-width:376px )
   .section__field
      height: 3100px

@media ( max-width:321px )
   .section__field
      height: 3635px

.blocks-header
   display: block
   +Condensed
   font-style: normal
   font-weight: 300
   font-size: 48px
   line-height: 65px
   text-align: center
   letter-spacing: 0.1em
   text-transform: uppercase
   color: $white
   padding-top: 150px
   span
      color: $gold

@media ( max-width:1024px )
   .blocks-header
      padding-top: 90px

@media ( max-width:576px )
   .blocks-header
      padding-top: 80px

@media ( max-width:426px )
   .blocks-header
      padding-top: 70px
      font-size: 36px

@media ( max-width:376px )
   .blocks-header
      padding-top: 50px
      font-size: 36px

.about-theatre__wrap
   margin-top: 100px
   display: flex
   align-items: flex-start
   justify-content: space-between

.about-theatre__best-theatre
   h1
      margin: 0
      +Condensed
      font-style: normal
      font-weight: bold
      font-size: 21px
      line-height: 29px
      letter-spacing: 0.1em
      text-transform: uppercase
      color: $white
   p
      margin: 0
      margin-top: 40px
      +Regular
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 150%
      color: $white

.about-theatre__digits
   h1
      margin: 0
      +Condensed
      font-style: normal
      font-weight: bold
      font-size: 21px
      line-height: 29px
      letter-spacing: 0.1em
      text-transform: uppercase
      color: $white
   .about-theatre-digits__chair
      margin-top: 26px
   p
      margin: 0
      margin-top: 15px
      +Condensed
      font-style: normal
      font-weight: bold
      font-size: 16px
      line-height: 22px
      letter-spacing: 0.05em
      color: $white
      span
         color: $gold
   .about-theatre-digits__history
      margin-top: 20px

@media ( max-width: 1024px )
   .about-theatre__wrap
      .about-theatre__image
         display: none

@media ( max-width: 576px )
   .about-theatre__wrap
      flex-direction: column
      margin-top: 60px
      .about-theatre__digits
         margin: 0 auto
         text-align: center
         h1
            margin-top: 27px
      .about-theatre__best-theatre
         h1
            text-align: center
         p
            text-align: center
            br
               display: none

@media ( max-width: 576px )
   .about-theatre__wrap
      flex-direction: column
      margin-top: 30px
   .about-theatre__best-theatre
         p
            margin-top: 30px