// Золотая кнопка
@mixin gold-button
   width: 160px
   height: 50px
   background: $gold
   +Condensed
   font-style: normal
   font-weight: bold
   font-size: 18px
   line-height: 25px
   text-align: center
   letter-spacing: 0.1em
   text-transform: uppercase
   color: $white
   outline: none
   border: none
   cursor: pointer
   transition: all 0.2s
   &:active
      transform: scale(1.1)

.hero
   &__picture
      @media ( max-width:992px )
         display: none
   &__wrap
      display: flex
      margin-top: 191px
      justify-content: space-between
   &__theatre
      display: flex
      flex-direction: column
      margin-top: 117px
      @media ( max-width:992px )
         margin-top: 76px
      h1
         +Condensed
         font-style: normal
         font-weight: bold
         font-size: 64px
         line-height: 64px
         letter-spacing: 0.1em
         text-transform: uppercase
         color: $white
         margin: 0
      span
         +Regular
         font-style: normal
         font-weight: normal
         font-size: 14px
         line-height: 150%
         color: $white
         margin-top: 50px
      button
         margin-top: 49px
         +gold-button

@media ( max-width:1024px )
   .hero
      &__picture
         display: none

@media ( max-width:768px )
   .hero__theatre
      margin: 0 auto
   .hero__wrap
      margin-top: 161px

@media ( max-width:576px )
   .hero
      &__wrap
         margin-top: 114px
      &__theatre
         h1
            font-size: 63px
         br
            display: none

@media ( max-width:426px )
   .hero
      &__wrap
         margin-top: 80px
      &__theatre
         text-align: center
         h1
            font-size: 48px
         span
            margin-top: 20px
         button
            margin: 0 auto
            margin-top: 30px

@media ( max-width:376px )
   .hero
      &__wrap
         margin-top: 60px