.maecenas
   .blocks-header
      padding-top: 40px

.maecenas__wrap
   margin-top: 100px
   display: flex
   justify-content: space-between
   .maecenas__contact
      display: flex
      flex-direction: column
      a
         margin-bottom: 20px
         +Condensed
         font-style: normal
         font-weight: bold
         font-size: 16px
         line-height: 22px
         letter-spacing: 0.05em
         text-transform: uppercase
         text-decoration: none
         color: $white
         width: 135px
         &:last-child
            width: 250px
   .maecenas__form
      display: flex
      flex-direction: column
      width: 750px
      form
         display: flex
         justify-content: flex-end
         .form__col
            width: 180px
            p
               margin: 0
            .enter-text
               color: blue
               color: $white
               +Regular
               font-style: normal
               font-weight: 600
               font-size: 12px
               line-height: 150%
            &:first-child
               margin-right: 30px
            &:last-child
               width: 310px
               margin-left: 50px
            input
               width: 180px
               height: 35px
               margin-bottom: 30px
               background-color: #444
               border: 1px solid #616161
               &::placeholder
                  color: #989898
                  +Regular
                  font-style: normal
                  font-weight: 600
                  font-size: 12px
                  line-height: 150%
               &:focus
                  outline: none
            textarea
               width: 310px
               height: 100px
               background-color: #444
               border: 1px solid #616161
               resize: none
               &:focus
                  outline: none
               &::placeholder
                  color: #989898
                  +Regular
                  font-style: normal
                  font-weight: 600
                  font-size: 12px
                  line-height: 150%
         .form__col input[type='text']
            padding-left: 15px
         .form__col textarea[type='text']
            padding-left: 15px
            padding-top: 7px
      .maecenas__button
         display: flex
         justify-content: space-between
         margin-top: 10px
         button
            +gold-button
            width: 190px
         span   
            +Regular
            font-style: normal
            font-weight: normal
            font-size: 12px   
            line-height: 150%
            color: #989898

@media ( max-width: 1024px )
   .maecenas__wrap
      margin-top: 100px
      display: flex
      flex-direction: column-reverse
      .maecenas__contact
         flex-direction: row
         margin-top: 80px
         justify-content: space-between
         flex-wrap: wrap
         a
            flex-basis: 50%
         .right-link
            text-align: right
            padding-right: 10px

@media ( max-width: 768px )
   .maecenas__wrap
      margin-top: 60px
      .maecenas__form
         width: auto
         form
            .form__col
               &:last-child
                  margin-left: 30px
                  textarea
                     width: 270px

@media ( max-width: 576px )
   .maecenas__wrap
      .maecenas__form
         form
            flex-wrap: wrap
            .form__col
               flex-basis: 50%
               margin-right: 0
               input
                  width: 230px
               &:first-child
                  margin-right: 0
               &:last-child
                  flex-basis: 100%
                  margin-left: 0
                  p
                     textarea
                        width: 510px
                        margin: 0 auto
            .second-form__col
               p
                  display: block
                  float: right
         .maecenas__button
            flex-direction: column-reverse
            text-align: center
            margin-top: 40px
            button
               margin: 0 auto
            span
               margin-top: 30px
      .maecenas__contact
         margin-top: 50px
         .right-link
            padding-right: 0

@media ( max-width: 426px )
   .maecenas__wrap
      margin-top: 45px
      .maecenas__form
         form
            .form__col
               input
                  width: 180px
               &:last-child
                  flex-basis: 100%
                  margin-left: 0
                  p
                     textarea
                        width: 395px
      .maecenas__contact
         a
            font-size: 14px
            flex-basis: 40%
         .right-link
            flex-basis: 60%
            width: 200px