header
   height: 1045px
   background: url(../../images/initial__screen.png)

@media ( max-width: 768px )
   header
     height: 800px
     background: url(../../images/hero-background.png)

@media ( max-width: 576px )
   header
     height: 600px
     background: url(../../images/hero-background-small.png)

@mixin navbar-item
   +Condensed
   color: $white
   font-style: normal
   font-weight: bold
   font-size: 18px
   line-height: 25px
   letter-spacing: 0.1em
   text-transform: uppercase
   text-decoration: none

.navbar__burger
   display: none

.navbar-wrap
   display: flex
   justify-content: space-between
   padding-top: 51px
   .navbar__item
      margin-right: 63px
      +navbar-item
      transition: 0.5s
      //animation-name: navbar
      //animation-duration: 2s
      &:hover
         color: $gold
      @media ( max-width:992px )
         margin-right: 0px
   .navbar__contact
      +navbar-item
      transition: 0.5s
      &:hover
         color: $gold
   .navbar__phone
      a
         +navbar-item
         font-size: 16px
         line-height: 22px
         text-align: right
         letter-spacing: 0.05em
         margin-right: 0
      hr
         width: 119px
         height: 0px
         border: 2px solid #D1A954
      @media ( max-width: 992px )
         display: flex
         align-items: center
         flex-direction: column
         margin-top: 50px
   .navbar
      .navbar__cross
         display: none
      &__social
         display: none
      @media ( max-width: 992px )
         display: flex
         justify-content: space-between  
   @media ( max-width: 992px )
      flex-direction: column
      
/*@keyframes navbar
   0%
      margin-right: 0px
   100%
      margin-right: 63px*/

@media ( max-width:1024px )
   .navbar-wrap
      flex-direction: column
      .navbar
         display: flex
         justify-content: space-between
      .navbar__item
         margin-right: 0px
      .navbar__phone
         display: flex
         align-items: center
         flex-direction: column
         margin-top: 50px

// Реализация меню-бургера
@media ( max-width:768px )
   .navbar-wrap
      flex-direction: row
      justify-content: space-between
      .navbar__phone
         margin-top: 0
      .navbar
         position: absolute
         z-index: 2
         top: 0
         left: -100%
         height: 800px
         width: 300px
         background: #333333
         flex-direction: column
         justify-content: flex-start
         transition: all 0.5s ease 0s
         a
            padding-left: 39px
            +Condensed
            font-style: normal
            font-weight: bold
            font-size: 24px
            line-height: 33px
            letter-spacing: 0.05em
            text-transform: uppercase
            margin-top: 35px
         &__first-item
            padding-top: 105px
            margin-top: 0
         .navbar__cross
            display: block
            cursor: pointer
            span
               width: 32px
               height: 32px
               opacity: 0.7
               cursor: pointer
               &:hover
                  opacity: 1
               &::before, &::after
                  float: right
                  position: absolute
                  content: ''
                  height: 33px
                  width: 2px
                  background-color: $white
                  margin-top: 35px
                  margin-left: 246px
               &::before
                  transform: rotate(45deg)
               &::after
                  transform: rotate(-45deg)
      .navbar.active
         left: 0
      .navbar__social
         display: flex
         flex-wrap: wrap
         width: 140px
         height: 126px
         margin-top: 89px
         margin-left: 80px
         a
            flex-basis: 50%
            margin: 0
            padding: 0
         .social-item
            img
               float: right
         .last-social-item
            margin-top: 65px
      .navbar__burger
         display: flex
         flex-direction: column
         justify-content: flex-end
         margin-bottom: 9px
         cursor: pointer
         .burger-line
            border: 1.5px solid $white
            margin: 0
            margin-bottom: 5px
         .burger-first-line
            width: 27px
         .burger-second-line
            width: 21px
         .burger-third-line
            width: 14px
            margin-bottom: 0

/*@media ( max-width:576px )
   .navbar-wrap
      .navbar
         width: 250px
         height: 600px*/

@media ( max-width:426px )
   .navbar-wrap
      padding-top: 25px